#app { height: 100% }
html,
*{
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  justify-content: center;
  background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(62,150,87,1) 95%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.swiper {

  width: 25%;
  height: 50%;
  margin-top: 10rem;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}
/* .icons{
background-color: green;
} */

.swiper-slide {
align-items: center;
justify-content: center;
background-position: absolute;
  font-size: 18px;
  padding-bottom: 4rem;
  padding-top: 4rem;
  width: 50rem;
  position: relative;
  top: 20px;
 /* Center slide text vertically  */
 /* display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; */
  display: flex;
  width: fit-content;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/*my new css*/
/*for the right*/
.third{
  background-color: #7be9d6;
  box-shadow:  10px 8px 15px rgba(0, 0, 0, 0.1);
  height:1000px;
  width: 800px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
/* .third :hover{
  transform: scale(1.1);
} */
.third .cover{
  background-color:transparent;
  align-items: center;
  text-align: center;
  font-size:5rem;
  color: white;
  justify-content: center;
  align-self: center;
  height: 90%;
  width: 90%;
}
.third .cover .text{
  height: 2rem;
  width: 100%;
  word-spacing: 15px;
  font-size:small;
}
.third .select-colors{
  height: 15rem;
  width: 100%;
  word-spacing:2px;
  font-size:2rem;
}
.third .size{
  display: grid;
  grid-row: 1fr, 1fr, 1fr;
  height: 8rem;
  width: 100%;
  margin-top: 4rem;
  word-spacing:1px;
  font-size:1.6rem;
  align-items: center;
  justify-content: center;
}
.third .size .btn{
  width: 100%;
  margin-top: 2rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;

}
.third .size .btn button{
  border: none;
  color: white;
  font-size: large;
  border-radius: 10px;
  margin: 10px;
  height: 6rem;
  width: 6rem;
  background-color: #9ce8ec;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  /* margin-left: rem;
  margin-right: 1rem; */

}
.third .size .btn :hover{
  background-color: whitesmoke;
  color: #75b9bf;
}
.colors{
  margin-top: 50px;
}
.colors span{
  margin: 10px;
  justify-content: space-between;
  margin-bottom: 10rem;

}
.orange{
  height: 60px;
  width: 60px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.purple{
  height: 60px;
  width: 60px;
  background-color:purple;
  border-radius: 50%;
  display: inline-block;
}
.blue{
  height: 60px;
  width: 60px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
.dakblue{
  height: 60px;
  width: 60px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}
/*for the middle div*/
.second{
  background-color:#d8f0f9;
  box-shadow:  10px 8px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  height:1000px;
  width: 800px;
  display: grid;
  border-radius: 20px;
}
.second img{
  height: 10rem;
  width: 8rem;
}
.toptekkie{
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 50rem;
  margin-top: -50px;

}
.toptekkie img{
  margin-left: 2rem;
  margin-top: -4rem;
  transform: skewY(25deg);
  width: 25rem;
  height:45rem;
}
.dowtekkies{
  /* background-color: blue; */
  justify-content: center;
  align-items: center;
  margin-top: -15rem;
}
.dowtekkies img{
  margin:2px;
  padding: 4px;
  width: 10rem;
}
.text2{
  color: gray;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 10rem;
  margin-top:25px;
  word-spacing: 10px;

  
}
.text2 h5{
  font-size: 1.5rem;
  font-weight: 10rem;
  color:#75b9bf;
}

/* .dowtekkies img :hover{
  border: 2px black;
} */
/*FOR THE LEFT DIV*/
.first{
  background-color:#6cc7e1;
  box-shadow:  10px 8px 15px rgba(0, 0, 0, 0.1);
  height:1000px;
  width: 800px;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.first .viewed{
  /* background-color:blue; */
  align-items: center;
  text-align: center;
  word-spacing: 10px;
  font-size:1rem;
  color: white;
  justify-content: center;
  align-self: center;
  height: 90%;
  width: 90%;
}
.first .viewed .arrow{
  /* background-color: green; */
  margin-top: 2em;
  display: flex;
  justify-content: center;
  
}
.first .viewed .arrow p{
  margin-left: 10px;
  padding-right: 10px;
}
.first .viewed .pictures{
  display: grid;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  height: 85%;
  
}
.first .viewed .pictures img{
  height: 15rem;
  width: 15rem;
  transform: skewY(30deg);
  margin-top: 50px;
  /* background:transparent; */
}
.button-add{
  align-items: center;
  position: absolute;
  left: 13rem;
  box-shadow:  15px 10px 50px rgba(0, 0, 0, 0.1);
  top:64rem;
  justify-content: center;
}
.button-add button{
  background-color:#d8f0f9 ;
  border-radius: 15px;
  border: none;
  color: #75b9bf;
  height: 5rem;
  font-size: 1.5rem; 
  width: 18rem;
  text-align: center;
  justify-content: center;

}
